@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
}
